{% extends "template.html" %}
{% block content %}
	
	<script language=javascript>
  <!--//
  function dm(amount) 
  {
	  string = "" + amount;
	  dec = string.length - string.indexOf('.');
	  if (string.indexOf('.') == -1)
	  return string + '.00';
	  if (dec == 1)
	  return string + '00';
	  if (dec == 2)
	  return string + '0';
	  if (dec > 3)
	  return string.substring(0,string.length-dec+3);
	  return string;
  }

  
  function calculate() {
	  A = document.order.list1.value;
	  B = document.order.list2.value;
	  D = document.order.list4.value;
	  E = document.order.list5.value;
	  F = document.order.list6.value;
	  G = document.order.list7.value;
	  H = document.order.list8.value;
	  I = document.order.list9.value;
	  J = document.order.list10.value;
	  K = document.order.list11.value;
	  L = document.order.list12.value;
	  M = document.order.list13.value;
	  PrcA = 2.60;
	  PrcB = 4.20;
	  PrcD = 4.80;
	  PrcE = 0.90;
	  PrcF = 12.90;
	  PrcG = 4.40;
	  PrcH = 1.00;
	  PrcI = 10.90;
	  PrcJ = 9.00;
	  PrcK = 1.30;
	  PrcL = 1.80;
	  PrcM = 45.00;
	  TotA = A * PrcA;
	  TotB = B * PrcB;
	  TotD = D * PrcD;
	  TotE = E * PrcE;
	  TotF = F * PrcF;
	  TotG = G * PrcG;
	  TotH = H * PrcH;
	  TotI = I * PrcI;
	  TotJ = J * PrcJ;
	  TotK = K * PrcK;
	  TotL = L * PrcL;
	  TotM = M * PrcM;
	  X = TotA + TotB + TotD + TotE + TotF + TotG + TotH + TotI + TotJ + TotK + TotL + TotM;
	  document.order.total.value = dm(X);
  }
  //-->
  </script>
	
  <div class="store">
		<form action="{{url_for('add_td')}}" name="order" title="confirm" method="post">
			
			<div class="row">
				<div class="item type1">
					<label for="list1">
						<img src="{{url_for('static', filename='img/store/list1.jpg')}}" title="A4 lecture pad" alt="A4 lecture pad" />
						<br /><b>A4 lecture pad</b>
						<br />$2.60 <i class="icon-remove"></i>
						<input type="number" id="list1" name="list1" min="0" max="20" value="0" onchange="calculate()" required>
					</label>
				</div>
				
				<div class="item type2">
					<label for="list2">
						<img src="{{url_for('static', filename='img/store/list2.jpg')}}" title="7-colour sticky note with pen" alt="7-colour sticky note with pen" />
						<br /><b>7-colour sticky note with pen</b>
						<br />$4.20 <i class="icon-remove"></i>
						<input type="number" id="list2" name="list2" min="0" max="20" value="0" onchange="calculate()" required>
					</label>
				</div>
				
				<div class="item type1">
					<label for="list4">
						<img src="{{url_for('static', filename='img/store/list4.jpg')}}" title="A5 note book with zip bag" alt="A5 note book with zip bag" />
						<br /><b>A5 note book with zip bag</b>
						<br />$4.60 <i class="icon-remove"></i>
						<input type="number" id="list4" name="list4" min="0" max="20" value="0" onchange="calculate()" required>
					</label>
				</div>
			</div>
			
			<div class="row">
				<div class="item type2">
					<label for="list5">
						<img src="{{url_for('static', filename='img/store/list5.jpg')}}" class="orangeborder grow" title="2B pencil" alt="2B pencil" />
						<br /><b>2B pencil</b>
						<br />$0.90 <i class="icon-remove"></i>
						<input type="number" id="list5" name="list5" min="0" max="20" value="0" onchange="calculate()" required>
					</label>
				</div>
				
				<div class="item type1">
					<label for="list6">
						<img src="{{url_for('static', filename='img/store/list6.jpg')}}" class="orangeborder" title="Stainless steel tumbler" alt="Stainless steel tumbler" />
						<br /><b>Stainless steel tumbler</b>
						<br />$12.90 <i class="icon-remove"></i>
						<input type="number" id="list6" name="list6" min="0" max="20" value="0" onchange="calculate()" required>
					</label>
				</div>
				
				<div class="item type2">
					<label for="list7">
						<img src="{{url_for('static', filename='img/store/list7.jpg')}}" class="orangeborder" title="A4 clear holder" alt="A4 clear holder" />
						<br /><b>A4 clear holder</b>
						<br />$4.40 <i class="icon-remove"></i>
						<input type="number" id="list7" name="list7" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
			</div>
			
			<div class="row">
				<div class="item type1">
					<label for="list8">
						<img src="{{url_for('static', filename='img/store/list8.jpg')}}" title="A4 vanguard file" alt="A4 vanguard file" />
						<br /><b>A4 vanguard file</b>
						<br />$1.00 <i class="icon-remove"></i>
						<input type="number" id="list8" name="list8" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
				
				<div class="item type2">
					<label for="list9">
						<img src="{{url_for('static', filename='img/store/list9.jpg')}}" title="Name card holder" alt="Name card holder" />
						<br /><b>Name card holder</b>
						<br />$10.90 <i class="icon-remove"></i>
						<input type="number" id="list9" name="list9" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
				
				<div class="item type1">
					<label for="list10">
						<img src="{{url_for('static', filename='img/store/list10.jpg')}}" title="Umbrella" alt="Umbrella" />
						<br /><b>Umbrella</b>
						<br />$9.00 <i class="icon-remove"></i>
						<input type="number" id="list10" name="list10" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
			</div>
			
			<div class="row">
				<div class="item type2">
					<label for="list11">
						<img src="{{url_for('static', filename='img/store/list11.jpg')}}" class="orangeborder" title="School badge (Junior High)" alt="School badge (Junior High)" />
						<br /><b>School badge (Junior High)</b>
						<br />$1.30 <i class="icon-remove"></i>
						<input type="number" id="list11" name="list11" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
				
				<div class="item type1">
					<label for="list12">
						<img src="{{url_for('static', filename='img/store/list12.jpg')}}" class="orangeborder" title="School badge (Senior High)" alt="School badge (Senior High)" />
						<br /><b>School badge (Senior High)</b>
						<br />$1.80 <i class="icon-remove"></i>
						<input type="number" id="list12" name="list12" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
				
				<div class="item type2">
					<label for="list13">
						<img src="{{url_for('static', filename='img/store/list13.jpg')}}" class="orangeborder" title="Dunman dolls (pair)" alt="Dunman dolls (pair)" />
						<br /><b>Dunman dolls (pair)</b>
						<br />$45.00 <i class="icon-remove"></i>
						<input type="number" id="list13" name="list13" min="0" max="20" value="0" onchange="calculate()" required><br />
					</label>
				</div>
			</div>
			
			<label class="itemname" for="total">Total Price:</label>
			<input type="text" id="total" name="total" onchange="calculate()" required><br />
			
			<input type="submit" value="submit" id="bigbutton">
		</form>
  </div>
{% endblock %}