{% extends "template.html" %}

{% block content %}
  <script language=javascript>
  <!--//
  function dm(amount) 
  {
	  string = "" + amount;
	  dec = string.length - string.indexOf('.');
	  if (string.indexOf('.') == -1)
	  return string + '.00';
	  if (dec == 1)
	  return string + '00';
	  if (dec == 2)
	  return string + '0';
	  if (dec > 3)
	  return string.substring(0,string.length-dec+3);
	  return string;
  }

  
  function calculate() {
	  A = document.order.list1.value;
	  B = document.order.list2.value;
	  C = document.order.list3.value;
	  D = document.order.list4.value;
	  E = document.order.list5.value;
	  F = document.order.list6.value;
	  G = document.order.list7.value;
	  H = document.order.list8.value;
	  I = document.order.list9.value;
	  J = document.order.list10.value;
	  K = document.order.list11.value;
	  L = document.order.list12.value;
	  M = document.order.list13.value;
	  PrcA = 2.60;
	  PrcB = 4.20;
	  PrcC = 4.80;
	  PrcD = 4.80;
	  PrcE = 0.90;
	  PrcF = 12.90;
	  PrcG = 4.40;
	  PrcH = 1.00;
	  PrcI = 10.90;
	  PrcJ = 9.00;
	  PrcK = 1.30;
	  PrcL = 1.80;
	  PrcM = 45.00;
	  TotA = A * PrcA;
	  TotB = B * PrcB;
	  TotC = C * PrcC;
	  TotD = D * PrcD;
	  TotE = E * PrcE;
	  TotF = F * PrcF;
	  TotG = G * PrcG;
	  TotH = H * PrcH;
	  TotI = I * PrcI;
	  TotJ = J * PrcJ;
	  TotK = K * PrcK;
	  TotL = L * PrcL;
	  TotM = M * PrcM;
	  X = TotA + TotB + TotC + TotD + TotE + TotF + TotG + TotH + TotI + TotJ + TotK + TotL + TotM;
	  document.order.total.value = dm(X);
  }
  //-->
  </script>
  
  <h3>Souvenir Order Form</h3>
  <p>Order your souvenirs here!</p>
  
  <form action="{{ url_for('add_td') }}" name="order" method = "post">
	<label><div>Souvenirs</div></label>
	
	<img src = "#">
	<label class="itemname" for="list1">A4 lecture pad</label>
	<p class="itemprice">$2.60</p>
	<input type="number" id="list1" name="list1" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list2">7-colour sticky note with pen</label>
	<p class="itemprice">$4.20</p>
	<input type="number" id="list2" name="list2" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list3">A5 ring book</label>
	<p class="itemprice">$4.80</p>
	<input type="number" id="list3" name="list3" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list4">A5 note book with zip bag</label>
	<p class="itemprice">$4.60</p>
	<input type="number" id="list4" name="list4" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list5">2B pencil</label>
	<p class="itemprice">$0.90</p>
	<input type="number" id="list5" name="list5" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list6">Stainless steel tumbler</label>
	<p class="itemprice">$12.90</p>
	<input type="number" id="list6" name="list6" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list7">A4 clear holder</label>
	<p class="itemprice">$4.40</p>
	<input type="number" id="list7" name="list7" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list8">A4 vanguard file</label>
	<p class="itemprice">$1.00</p>
	<input type="number" id="list8" name="list8" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list9">Name card holder</label>
	<p class="itemprice">$10.90</p>
	<input type="number" id="list9" name="list9" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list10">Umbrella</label>
	<p class="itemprice">$9.00</p>
	<input type="number" id="list10" name="list10" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list11">School badge (Junior High)</label>
	<p class="itemprice">$1.30</p>
	<input type="number" id="list11" name="list11" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list12">School badge (Senior High)</label>
	<p class="itemprice">$1.80</p>
	<input type="number" id="list12" name="list12" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<img src = "#">
	<label class="itemname" for="list13">Dunman dolls (pair)</label>
	<p class="itemprice">$45.00</p>
	<input type="number" id="list13" name="list13" min="0" max="20" value="0" onchange="calculate()" required><br />
	
	<label class="itemname" for="total">Total</label>
	<input type="text" id="total" name="total" onchange="calculate()" required><br />
	  
	<input type = "submit">
  </form>
	
{% endblock %}